opprett-samordning/src/main/resources/no/nav/samordning/tjenester/opprettsamordning/v1/informasjon/Sluttpoengtall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/samordning/tjenester/opprettsamordning/v1/informasjon" targetNamespace="http://nav.no/samordning/tjenester/opprettsamordning/v1/informasjon">
    <xsd:include schemaLocation="Poengrekke.xsd"/>
  <xsd:complexType name="Sluttpoengtall">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="poengtall" nillable="true" type="xsd:double"/>
      <xsd:element minOccurs="0" name="poengrekke" type="tns:Poengrekke"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
