varsle-vedtak-nav/src/main/resources/no/nav/tpsamordningvarsling/V0_5/asbo/VarsleEndringTPYtelseReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav.no/elsam/tpsamordningvarsling/V0_5" targetNamespace="http://nav.no/elsam/tpsamordningvarsling/V0_5">
  <xsd:complexType name="VarsleEndringTPYtelseReq">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="tpnr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="fnr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="tpnrSamordner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="henvendelseType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="TILGANG"/>
            <xsd:enumeration value="OPPHOR"/>
            <xsd:enumeration value="SLETTING"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="tpArt">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALDER"/>
            <xsd:enumeration value="AFP"/>
            <xsd:enumeration value="UFORE"/>
            <xsd:enumeration value="GJENLEVENDE"/>
            <xsd:enumeration value="BARN"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="datoFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
