tpforhold-vedlikehold/src/main/resources/no/nav/samordning/tjenester/vedlikeholdtpforhold/v1/informasjon/KrigOgGammelYrkesskade.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/samordning/tjenester/vedlikeholdtpforhold/v1/informasjon">
  <xsd:complexType name="KrigOgGammelYrkesskade">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="belop" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="pensjonsgrad" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="grunnlag" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="forholdstallYG" nillable="true" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
