varsle-vedtak-nav/src/main/resources/no/nav/tpsamordningvarsling/v1/informasjon/Poengrekke.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/samordning/tjenester/varslevedtak/v1/informasjon">
	<xsd:complexType name="Poengrekke">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="pa" nillable="true" type="xsd:int"/>
			<xsd:element minOccurs="0" name="pa_f92" nillable="true" type="xsd:int"/>
			<xsd:element minOccurs="0" name="pa_e91" nillable="true" type="xsd:int"/>
			<xsd:element minOccurs="0" name="tpiFaktor" nillable="true" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
