varsle-vedtak-samordning/src/main/resources/no/nav/samordning/tjenester/varslesamordning/v1/samordning/VarsleEndringPersonaliaRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bons1="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam"
            targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/samordning">
    <xsd:import namespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam" schemaLocation="../Person.xsd"/>
    <xsd:complexType name="VarsleEndringPersonaliaRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tpnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="opprinneligFnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endretPerson" type="bons1:Person"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
