varsle-vedtak-samordning/src/main/resources/no/nav/samordning/tjenester/varslesamordning/v1/samordning/VarsleVedtakSamordningRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bons0="http://nav.no/samordning/tjenester/varslesamordning/v1/samordning"
            xmlns:bons2="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak"
            targetNamespace="http://nav.no/samordning/tjenester/varslesamordning/v1/samordning">
    <xsd:include schemaLocation="ArbeidOgAktivitetsvedtak.xsd"/>
    <xsd:import namespace="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak"
                schemaLocation="../vedtak/Vedtak.xsd"/>
    <xsd:complexType name="VarsleVedtakSamordningRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="tpnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="samId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="gjelderFnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="vedtak" type="bons2:Vedtak"/>
            <xsd:element minOccurs="0" name="arbeidOgAktivitetsvedtak" type="bons0:ArbeidOgAktivitetsvedtak"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
