varslesamordning/src/main/resources/no/nav/samordning/tjenester/varslesamordning/v1/vedtak/TrygdetidKonvensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bons0="http://nav.no/samordning/tjenester/varslesamordning/v1"
            targetNamespace="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak">
    <xsd:import namespace="http://nav.no/samordning/tjenester/varslesamordning/v1"
                schemaLocation="../EndringsInfo.xsd"/>
    <xsd:complexType name="TrygdetidKonvensjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="trygdetidKonvensjonId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="framtidigTrygdetidAr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="framtidigTrygdetidA10Brutto" type="xsd:string"/>
            <xsd:element minOccurs="0" name="framtidigTrygdetidA10Netto" type="xsd:string"/>
            <xsd:element minOccurs="0" name="framtidigTrygdetidA10Redusert" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="trygdetidA10AnvAr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="trygdetidA10Nevner" type="xsd:string"/>
            <xsd:element minOccurs="0" name="trygdetidA10Teller" type="xsd:string"/>
            <xsd:element minOccurs="0" name="trygdetidA10FaktiskMnd" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons0:EndringsInfo"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
