varslesamordning/src/main/resources/no/nav/samordning/tjenester/varslesamordning/v1/vedtak/Vedtak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bons2="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak"
            xmlns:bons3="http://nav.no/samordning/tjenester/varslesamordning/v1"
            targetNamespace="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak">
    <xsd:include
            schemaLocation="BeregningsResultatUforetrygd.xsd">
    </xsd:include>
    <xsd:include schemaLocation="Beregning2011.xsd"></xsd:include>
    <xsd:include schemaLocation="AFPEO.xsd"/>
    <xsd:import
            namespace="http://nav.no/samordning/tjenester/varslesamordning/v1"
            schemaLocation="../EndringsInfo.xsd">
    </xsd:import>
    <xsd:include schemaLocation="Kravhode.xsd"/>
    <xsd:include schemaLocation="Vilkarsvedtak.xsd"/>
    <xsd:include schemaLocation="Beregning.xsd"/>
    <xsd:complexType name="Vedtak">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="vedtakId"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="gjelderFnr"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="virkningFom"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="virkningTom"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="lopendeFom"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="lopendeTom"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="vedtaksKode"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="vedtakStatusKode"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="saksId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="saksKode"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="ansvarligSaksbehandler"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="attesterer"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="attestertDato"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="vedtaksDato"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="tilIverksettelseDato"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="sendtSamordningDato"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="samordnetDato"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="iverksattDato"
                         type="xsd:date"/>
            <xsd:element minOccurs="0" name="etterbetaling"
                         type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="utvidetSamordningsfrist"
                         type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="vedtakLast"
                         type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="behandlingKode"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="annenPengemottaker"
                         type="xsd:string"/>
            <xsd:element minOccurs="0" name="kravhode"
                         type="bons2:Kravhode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0"
                         name="vilkarsvedtakListe" type="bons2:Vilkarsvedtak"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0"
                         name="beregningListe" type="bons2:Beregning"/>
            <xsd:element minOccurs="0" name="endringsInfo"
                         type="bons3:EndringsInfo"/>
            <xsd:element minOccurs="0" name="hovedkravlinjeResultat"
                         type="xsd:string">
            </xsd:element>
            <xsd:element minOccurs="0" name="instillingsverdi"
                         type="xsd:string">
            </xsd:element>

            <xsd:element minOccurs="0" name="klageAnkeResultat"
                         type="xsd:string">
            </xsd:element>
            <xsd:element minOccurs="0" name="sendtNavi"
                         type="xsd:boolean">
            </xsd:element>
            <xsd:element minOccurs="0" name="simulertFeilUtbetalingTom"
                         type="xsd:date">
            </xsd:element>
            <xsd:element minOccurs="0" name="virkGammeltVedtak"
                         type="xsd:date">
            </xsd:element>
            <xsd:element minOccurs="0" name="afpeo"
                         type="bons2:AFPEO">
            </xsd:element>

            <xsd:element minOccurs="0" name="regelverkKode"
                         type="xsd:string">
            </xsd:element>
            <xsd:element minOccurs="0" name="beregning2011Liste"
                         type="bons2:Beregning2011" maxOccurs="unbounded">
            </xsd:element>
            <xsd:element minOccurs="0"
                         name="beregningsresultatUforetrygdListe"
                         type="bons2:BeregningsResultatUforetrygd"
                         maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
