src/main/resources/test.wsdl

<?xml version="1.0" ?>
<wsdl:definitions
        name="TestWSDL"
        targetNamespace="http://nav.no/samordning/testWSDL" xmlns:types="http://nav.no/samordning/testWSDL"
        xmlns:tns="http://nav.no/samordning/testWSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/samordning/testWSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xsd:element name="testrequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="testkeyvalueobject">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="greeting" type="xsd:string"/>
                        <xsd:element name="value" type="xsd:int"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="TestQueryInput">
        <wsdl:part name="greeting" element="types:testrequest"/>
    </wsdl:message>
    <wsdl:message name="TestQueryOutput">
        <wsdl:part name="response" element="types:testkeyvalueobject"/>
    </wsdl:message>

    <wsdl:portType name="TestQuery_PortType">
        <wsdl:operation name="testQuery">
            <wsdl:input message="tns:TestQueryInput"/>
            <wsdl:output message="tns:TestQueryOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TestQuery_SoapBinding" type="tns:TestQuery_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="testQuery">
            <soap:operation soapAction="http://localhost:8080/ws/testwsdl/testquery"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TestQuery_Service">
        <wsdl:documentation>Test Query Service</wsdl:documentation>
        <wsdl:port name="TestQuery_Port" binding="TestQuery_SoapBinding">
            <soap:address location="http://localhost:8080/ws/testwsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>