varsle-vedtak-samordning/src/main/resources/no/nav/samordning/tjenester/varslesamordning/v1/vedtak/BeregningNokkelinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bons0="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak"
            xmlns:bons1="http://nav.no/samordning/tjenester/varslesamordning/v1"
            targetNamespace="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak">
    <xsd:import namespace="http://nav.no/samordning/tjenester/varslesamordning/v1"
                schemaLocation="../EndringsInfo.xsd"/>
    <xsd:include schemaLocation="Sluttpoengtall.xsd"/>
    <xsd:complexType name="BeregningNokkelinfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beregningNokkelinfoId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="grunnlagsrolleKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="beregningId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tt_anv" type="xsd:string"/>
            <xsd:element minOccurs="0" name="anvendtIBeregningen" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="spt" type="bons0:Sluttpoengtall"/>
            <xsd:element minOccurs="0" name="ypt" type="bons0:Sluttpoengtall"/>
            <xsd:element minOccurs="0" name="opt" type="bons0:Sluttpoengtall"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons1:EndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
