varsle-vedtak-samordning/src/main/resources/no/nav/samordning/tjenester/varslesamordning/v1/vedtak/Poengrekke.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav.no/samordning/tjenester/varslesamordning/v1"
			xmlns:bons1="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nav.no/samordning/tjenester/varslesamordning/v1/vedtak">
	<xsd:import schemaLocation="../EndringsInfo.xsd"
		namespace="http://nav.no/samordning/tjenester/varslesamordning/v1">
	</xsd:import>
	<xsd:include schemaLocation="FramtidigPensjonspoengtall.xsd" />

	<xsd:complexType name="Poengrekke">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="poengAr" type="xsd:string" />
			<xsd:element minOccurs="0" name="poengArFor92"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="poengArEtter91"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="poengArFaktisk"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="tidligerePenInntekt"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="tidligerePenInntektFaktor"
				type="xsd:string" />
			<xsd:element minOccurs="0"
				name="poengtallAntattArligInntekt" type="xsd:string" />
			<xsd:element minOccurs="0" name="framtidigPenpoengtall"
				type="bons1:FramtidigPensjonspoengtall" />
			<xsd:element minOccurs="0"
				name="framtidigPenpoengtallOmregnet"
				type="bons1:FramtidigPensjonspoengtall" />
			<xsd:element minOccurs="0" name="paNo" type="xsd:string" />
			<xsd:element minOccurs="0" name="sisteFppAr"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="sisteFppArNorden"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="sisteFppArEos"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="paEosFor92"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="paEosEtter91"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="paNordiskFramtBrutto"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="paNordiskFramtNetto"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
