tpsamordningvarsling/src/main/resources/no/nav/tpsamordningvarsling/v0_9/asbo/Vedtak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://nav.no/elsam/tpsamordningvarsling/V0_9"
	xmlns:bons0="http://nav.no/elsam/tpsamordningvarsling/V0_5"
	xmlns:bons1="http://nav.no/elsam/tpsamordningvarsling/V0_7"
	xmlns:bons2="http://nav.no/elsam/tpsamordningvarsling/V0_8"
	xmlns:bons4="http://nav.no/elsam/tpsamordningvarsling/V0_9"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="BeregningUforetrygd.xsd" />
	<xsd:import
		namespace="http://nav.no/elsam/tpsamordningvarsling/V0_8"
		schemaLocation="../../V0_8/asbo/Beregning2011.xsd" />
	<xsd:import
		namespace="http://nav.no/elsam/tpsamordningvarsling/V0_7"
		schemaLocation="../../V0_7/asbo/Beregning.xsd" />
	<xsd:import
		namespace="http://nav.no/elsam/tpsamordningvarsling/V0_5"
		schemaLocation="../../V0_5/asbo/Vilkarsvedtak.xsd" />
	<xsd:complexType name="Vedtak">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="vedtakId"
				type="xsd:string" />
			<xsd:element minOccurs="1" name="virkningFom"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="virkningTom"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="saksKode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="AFP" />
						<xsd:enumeration value="ALDER" />
						<xsd:enumeration value="BARNEP" />
						<xsd:enumeration value="GJENLEV" />
						<xsd:enumeration value="KRIGSP" />
						<xsd:enumeration value="UFOREP" />
						<xsd:enumeration value="GAM_YRK" />
						<xsd:enumeration value="AFP_PRIVAT" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="barnListe" type="bons0:Vilkarsvedtak" />
			<xsd:element minOccurs="0" name="typeKrigspensjon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="MIL_INV" />
						<xsd:enumeration value="MIL_GJENLEV" />
						<xsd:enumeration value="MIL_BARNEP" />
						<xsd:enumeration value="SIVIL_INV" />
						<xsd:enumeration value="SIVIL_GJENLEV" />
						<xsd:enumeration value="SIVIL_BARNEP" />
						<xsd:enumeration value="UP" />
						<xsd:enumeration value="EP" />
						<xsd:enumeration value="BP" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="beregningListe" type="bons1:Beregning" />
			<xsd:element minOccurs="0" name="vedtaksKode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="FORGANG" />
						<xsd:enumeration value="ENDRING" />
						<xsd:enumeration value="OPPHOR" />
						<xsd:enumeration value="SAMMENSTOT" />
						<xsd:enumeration value="TILBAKEKR" />
						<xsd:enumeration value="OPPTJ" />
						<xsd:enumeration value="GOMR" />
						<xsd:enumeration value="REGULERING" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="beregning2011Liste" type="bons2:Beregning2011" />
			<xsd:element minOccurs="0" name="regelverkKode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="G_REG" />
						<xsd:enumeration value="N_REG_G_OPPTJ" />
						<xsd:enumeration value="N_REG_G_N_OPPTJ" />
						<xsd:enumeration value="N_REG_N_OPPTJ" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="beregningUforetrygdListe"
				type="bons4:BeregningUforetrygd" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>