tpsamordningvarsling/src/main/resources/no/nav/tpsamordningvarsling/V0_5/asbo/Sluttpoengtall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav.no/elsam/tpsamordningvarsling/V0_5" targetNamespace="http://nav.no/elsam/tpsamordningvarsling/V0_5">
    <xsd:include schemaLocation="Poengrekke.xsd"/>
    <xsd:complexType name="Sluttpoengtall">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="poengtall" nillable="true" type="xsd:double"/>
      <xsd:element minOccurs="0" name="poengrekke" type="bons0:Poengrekke"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
