tpsamordningvarsling/src/main/resources/no/nav/tpsamordningvarsling/V0_5/asbo/VarsleEndringPersonaliaReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav.no/elsam/tpsamordningvarsling/V0_5" targetNamespace="http://nav.no/elsam/tpsamordningvarsling/V0_5">
    <xsd:include schemaLocation="Person.xsd"/>
    <xsd:complexType name="VarsleEndringPersonaliaReq">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="tpnr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gammeltFnr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="endretPerson" type="bons0:Person"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
