varsle-vedtak-samordning/src/main/resources/no/nav/lib/sto/sam/vedtak/Tilleggspensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/vedtak" xmlns:bons1="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/vedtak">
    <xsd:include schemaLocation="Sluttpoengtall.xsd"/>
    <xsd:include schemaLocation="Ytelseskomponent.xsd"/>
    <xsd:complexType name="Tilleggspensjon">
    <xsd:complexContent>
      <xsd:extension base="bons0:Ytelseskomponent">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="spt" type="bons0:Sluttpoengtall"/>
                    <xsd:element minOccurs="0" name="ypt" type="bons0:Sluttpoengtall"/>
                    <xsd:element minOccurs="0" name="opt" type="bons0:Sluttpoengtall"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
