varsle-vedtak-samordning/src/main/resources/no/nav/lib/sto/sam/vedtak/Ventetillegg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/vedtak" xmlns:bons1="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/vedtak">
    <xsd:include schemaLocation="Ytelseskomponent.xsd"/>
    <xsd:complexType name="Ventetillegg">
    <xsd:complexContent>
      <xsd:extension base="bons0:Ytelseskomponent">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="ventetilleggGrunnpensjon" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ventetilleggTilleggspensjon" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ventetilleggProsent" type="xsd:double"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
