varsle-vedtak-samordning/src/main/resources/no/nav/lib/sto/sam/vedtak/Ytelseskomponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam"
            targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/vedtak">
    <xsd:import namespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam"
                schemaLocation="../EndringsInfo.xsd"/>
    <xsd:complexType name="Ytelseskomponent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ytelseskomponentId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="brutto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="netto" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fradrag" type="xsd:string"/>
            <xsd:element minOccurs="0" name="erBrukt" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ytelseskomponentKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="resultatKilde" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons0:EndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
